<div>
    {{#each items as |item|}}
    <div class="item">
        <span class="p-key">{{item.title}}:</span>
        <span class="p-value">{{item.value}}</span>
    </div>
    {{/each}}

    <div class="item">
        <a class="p-link" href="{{link}}">View in Service Now</a>
    </div>
</div>